.App {
    width: 100vw;
    height: 100vh;
    background: rgb(130,19,19);
    background: radial-gradient(circle, rgba(130,19,19,1) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%);
    margin: 0;
}

.cursor {
    cursor: pointer;
}

.content {
    padding: 20px 0;
    height: calc(100vh - 64px);
    color: #e1e1e1;
    overflow-y: auto;
}

.content ::-webkit-scrollbar {
    width: 5px;
}
.content ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.content ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
.content ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.font-hand {
    font-family: 'Gochi Hand', cursive;
}